
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
   <p id="footer_line"> <strong>Copyright &copy; 2018 <a href="#">HMS</a>.</strong> All rights
       reserved.</p>
</footer>
<div  id="snackbar"></div>
<!-- Control Sidebar -->
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>



<!-- Morris.js charts -->
<!--script src="bower_components/raphael/raphael.min.js"></script>
<script src="bower_components/morris.js/morris.min.js"></script>
&lt;!&ndash; Sparkline &ndash;&gt;
<script src="bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
&lt;!&ndash; jvectormap &ndash;&gt;
<script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></scrsusAppipt>
&lt;!&ndash; jQuery Knob Chart &ndash;&gt;
<script src="bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
&lt;!&ndash;!-- daterangepicker --><!--
<script src="bower_components/moment/min/moment.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>

<script>
    function toast(t) {

        var x = document.getElementById("snackbar");
        x.innerHTML=t;
        x.className = "show";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    }
    $(document).ready(function() {

        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

            localStorage.setItem('activeTab', $(e.target).attr('href'));

        });

        var activeTab = localStorage.getItem('activeTab');

        if (activeTab) {

            $('#myTab a[href="' + activeTab + '"]').tab('show');

        }
    });


</script>

</body>
</html>

